<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "container">
    <h1>Thanks for Shopping!</h1>
    <p> We charged your credit card for ${{session.last}} </p>
    <p> You have ordered {{session.totalitems}} tiems so far and spent {{session.totalspent}}</p>
    <a href="/amadon">Back</a>

    </div>
</body>
</html>